---
layout: default
title: Home
paginate: 5
---

<div class="contents-list">
    <ul>
    {% for post in paginator.posts %}
        <li>
        <a href="{{ post.url }}">{{ post.title }}<small> ({{ post.date | date: "%Y년 %m월 %d일" }})</small></a>
        </li>
    {% endfor %}
    </ul>
</div>

<!-- Pagination Links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">&laquo; Prev</a>
  {% endif %}

  <span>Page {{ paginator.page }}/{{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next &raquo;</a>
  {% endif %}
</div>