<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{ site.title }} </title>

  <!-- Favicon setting -->
  <link rel="icon" href=/assets/img/terminal.png />
  <link rel="apple-touch-icon" href=/assets/img/terminal.png />
  <link rel="short icon" type="image/x-icon" href=/assets/img/terminal.png />

  <!-- Open Graph setting -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="ms61 | PS Archive" />
  <meta property="og:description" content="Slow but steady" />
  <meta property="og:image" content="{{site.url}}/assets/img/terminal.png" />
  <meta property="og:url" content="{{site.url}}" />

  <link rel="stylesheet" href="/assets/css/style.css">
</head>