* {
    margin: 0;
    padding: 0;

    font-family: "Asta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #f9fafb;
    color: #1f2937;
}

.nav_icon {
    margin: 5px;
    width: 40px;
    height: 40px;
}

nav { margin-top: 30px; }

.nav-container {
    width: 80%;
    margin: 0 auto;
}

.nav-title { font-size: 45px; transition: font-size 0.4s ease; }
.nav-title:hover { font-size: 55px; }

.nav-container a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.nav-container ul {
    text-align: center;
    margin: 10px auto;
}
.nav-container li { display: inline-block; }

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.contents-list ul { list-style: none; }

.contents-list li {
    display: block;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

.contents-list li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: transform 0.6s ease;
}

.contents-list li a:hover {
    color: orange;
    transform: translateX(-8px);
}

.contents-list li a:hover small { color: orange; }

small { color: gray; font-size: 15px; }

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.page_icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.page_txt {
    font-size: 24px;
    font-weight: bold;
}