* {
    margin: 0;
    padding: 0;

    font-family: "Asta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #f9fafb;
    color: #1f2937;
}

.nav_icon {
    margin: 5px;
    width: 40px;
    height: 40px;
}

nav { margin-top: 30px; }

.nav-container {
    width: 80%;
    margin: 0 auto;
}

.nav-title { font-size: 45px; transition: font-size 0.4s ease; }
.nav-title:hover { font-size: 55px; }

.nav-container a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.nav-container ul {
    text-align: center;
    margin: 10px auto;
}
.nav-container li { display: inline-block; }

main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.contents-list ul { list-style: none; }

.contents-list li {
    display: block;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

.contents-list li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

small { color: gray; font-size: 15px; }

.pagination { margin-top: 30px; }
.pagination a {
    text-decoration: none;
    margin: 5px;
    color: black;
    font-size: 32px;
    font-weight: bold;
}

article {
    border-radius: 15px;
    background-color: #f1f5f9; 
    padding: 20px;
}

hr {
    margin: 20px 0px;
}

.post > h1 {
    margin: 15px;
    font-size: 40px;
}

.post-date {
    display: block;
    color: gray;
    text-align: left;
}

.markdown-body {
    text-align: left;
}

.markdown-body a {
    text-decoration: none;
    color: black;
}

.markdown-body p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-tags {
    margin-top: 10px;
    list-style: none;
    display: flex;
}

.post-tags li {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 5px;
    color: white;
    margin: 5px 10px 5px 0;
    background-color: #3b82f6;
}

.utterances { margin-top: 3rem; }
.utterances-frame {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.contents-list li {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contents-list li:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.contents-list li:hover a {
    color: #3b82f6;
    font-weight: bold;
}

.contents-list li:hover a small { color: #3b82f6; }

@media (max-width: 600px) {
    .contents-list li {
        width: 100%;
    }
}